.navigation_container {
  padding: 40px 40px;
  .logo_container {
    width: 252px;
    height: 65px;
    background-color: black;
    .main_logo {
      width: 100%;
      height: 100%;
    }
  }
}

.login_and_cart_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  .login_button{
    font-weight: bold;
    &:hover{
      color: #cb1c22;
    }
  }
  .login_button_hidden{
    display: none
  }
  .badge{
    margin-right: 20px;
  }
}

